.container {
  background: #f7f7f7;

  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: left;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 30px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header a {
  display: flex;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
.header a svg {
  margin-left: 5px;
}
